@model ChangePasswordModel
 <div>
    @if (TempData["ChangePassError"] is not null)
    {
                        <p class="error">@TempData["ChangePassError"]</p>
    }
    <p class="note-title">Смена пароля</p>
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
                <p>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</p>
                <p>Текущий пароль: @Html.PasswordFor(m => m.Password, "")</p>
                <p>@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })</p>
                <p>Новый пароль: @Html.PasswordFor(m => m.NewPassword, "")</p>
                <p>@Html.ValidationMessageFor(m => m.NewPasswordRepeat, "", new { @class = "error" })</p>
                <p>Новый пароль еще раз: @Html.PasswordFor(m => m.NewPasswordRepeat, "")</p>
                <input type="submit" value="Сменить пароль" />
    }
 </div>