@model CreateUserModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <body>
    @using (Html.BeginForm("Register", "Home", FormMethod.Post)) {
            <p>Имя пользователя: @Html.TextBoxFor(m => m.UserName, "", new { type = "text" }) 
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })</p>
            <p>E-mail: @Html.TextBoxFor(m => m.Email, "", new { type = "email" }) 
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })</p>
            <p>Пароль: @Html.PasswordFor(m => m.Password) 
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "error"})</p>
            <p>Пароль (еще раз): @Html.PasswordFor(m => m.PasswordRepeat) 
                @Html.ValidationMessageFor(m => m.PasswordRepeat, "", new { @class = "error" })</p>
            <input type="submit" value="Регистрация" />
    }
    </body>
</html>

